header {
    background-image: url(../images/wood.jpg) ;
    position:fixed;
    color:black;
    height:100px;
    width:100%;
    text-align:left;
    padding:5px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    
    
    
   
}


nav {
   
    background-color:;
    position:relative;
    height:50px;
    width:100%;
    float:none;
    text-align:center;
    padding:5px; 
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    
}

article {
    width:100%;
    float:center;
    padding:10px; 
    position:fixed;
    font-family: 'Shadows Into Light', cursive;
    margin-right: auto;
    margin-left: auto;

    
}

h1 {font-weight:100;

    
}
h2 {font-weight: 100;
    margin-top: 120px;
}
h3 {font-weight: 300}
body {font-size: 25px;}
     
p {font-size: 22px;
}
	


article2 {
    width:100%;
    float:inherit;
    padding:10px; 
    
   
    
}
photos {
  width:100%;
  padding:10px; 
  
    float:inherit;
  text-align: center;
  position:fixed;
}

footer {
    background-image: url(../images/wood.jpg);
    
    text-align:left;
    padding:10px;
    bottom:0pt;
    position:fixed;
    width:100%;
}
footer div {width: 90%;
            float:left;
            margin-bottom: auto;
}
footer p {text-align:right;
            position: fixed;
            width:98.1%;
            line-height:;
            margin-bottom: auto;
            margin-right: auto;
        
}