
header {
    background-image: image('images/wood.jpg');
    color:black;
    height:140px;
    text-align:left;
    padding:5px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;

    
   
}


nav {
   
    background-color:blanchedalmond;
    height:50px;
    width:100%;
    float:center;
    text-align:center;
    padding:5px; 
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;

article {
    width:100%;
    float:center;
    padding:10px; 
    border: 2px solid lightgrey;
    font-family: 'Shadows Into Light', cursive;
    margin-right: auto;
    margin-left: auto;
    
}
    
	

article2 {
    width:100%;
    float:inherit;
    padding:10px; 
    border: 2px solid lightgrey;
   
    
}
photos {
  width:100%;
  padding:10px; 
  border: 2px solid lightgrey;
    float:inherit;
  text-align: center;
  position:absolute;
}

footer {
    background-color:blanchedalmond;
    
    text-align:left;
    padding:10px;
    bottom:0pt;
    position:fixed;
    width:100%;
}
    